@model BodyViewModel


@if (Model.Content != null)
{
    ViewBag.PhaseBannerHtml = "<div class='govuk-phase-banner'><p class='govuk-phase-banner__content'><strong class='govuk-tag govuk-phase-bannertag '>beta</strong> <span class='govuk-phase-banner__text'>Complete <a target='_blank' class='govuk-link' href='https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl '>Ipsos MORI survey</a> to give us your feedback about the service.</span> </p></div>";

    <div class="govuk-width-container">
        @Html.Raw(Model.Content)
    </div>
}
