@model IndexViewModel

<html>
    <body>
        @if (Model.Documents?.Count() > 0)
        {
            <ul>
                @foreach (var document in Model.Documents)
                {
                    <li>
                        <a href="/pages/@document.CanonicalName">@document.CanonicalName</a>
                    </li>
                }
            </ul>
        }
    </body>
</html>