@{
    ViewData["Title"] = "Help - Body Top";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p class="govuk-body-l">
            This is the body top region
        </p>
    </div>
</div>
