@model BreadcrumbViewModel

@{
    ViewData["Title"] = "Help - Breadcrumb";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <p class="govuk-body-l">
            <a href="/Help/index" class="govuk-link">Help</a> <span>/</span>

            @foreach (var path in Model.Paths)
            {
                <a href="/Help/@path" class="govuk-link">@path</a> <span>/</span>
            }

            @Model.ThisLocation
        </p>

        <p class="govuk-body">
            This is the Breadcrumb region
        </p>
    </div>
</div>
