@model HeadViewModel

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    ViewData["Title"] = $"Help | {Model.Title} | National Careers Service";

    <title>@ViewData["Title"]</title>
}

@if (Model.Contents != null)
{
    @Html.Raw(Model.Contents)
}